@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    color-scheme: dark;
  }

  body {
    background-color: var(--color-background);
    color: #e5e7eb;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background-color: var(--color-primary-container);
    color: #000000;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}