---
// src/pages/index.astro
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Header from '../components/Header.astro';
import Contact from '../components/Contact.astro';
import Projects from '../components/Projects.astro';
---

<Layout 
  title="Portfolio | Aesio Chu" 
  description="Portfolio personal de Aesio Chu, desarrollador web Full Stack y diseñador UX/UI."
>
  <Header />
  <main>
    <Hero />
    <About />
    <Skills />
    <Projects />
    <Contact />
  </main>
</Layout>